<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jollibee Menu</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <style>
		#webgazerVideoContainer {
			left: 15% !important;
		}
		.forward {
            right:auto;
        }
	</style>
</head>
<body>
<!-- partial:index.partial.html -->
<section id="our_menu">
    <div class="container-custom">
        <div class="modal" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Dine In or Take Out?</h5>
                    </div>
                    <div class="modal-body">
                        <div class="selectMethod">
                            <button onClick="selectMethod('Dine In');" class="webgazer-clickable dineIn">Dine In</button>
                            <button onClick="selectMethod('Take Out');" class="webgazer-clickable takeOut">Take Out</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="page_title text-center mb-4">
                    <img src="./static/images/jollibee-logo2.png">
                    <h1>Jollibee menu</h1>
                    <div class="single_line"></div>
                </div>
            </div>
        </div>
        {% if page == 1 %}
        <div class="row">
            <a class="webgazer-clickable forward" href="{{ url_for('nextPage') }}">
                <i alt="Next Page" class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
        {% else %}
        <div class="row">
            <a class="webgazer-clickable back" href="{{ url_for('index') }}">
                <i alt="Back to Home" class="fa-solid fa-house"></i>
            </a>
        </div>
        {% endif %}
        <div class="row">
				<a href="#" class="webgazer-clickable cart">
                    <i class="fa-solid fa-basket-shopping" alt="Cart"></i><span class="cart-quantity"></span>
                </a>
        	</div>
        <div class="row">
            <div class="tab-content col-lg-12" id="myTabContent">
                <div aria-labelledby="breakfast-tab" class="tab-pane fade show active" id="breakfast" role="tabpanel">
                    <div class="row">
                        {% for category in categories %}
                        <div class="col-md-4">
                            <a class="webgazer-clickable" href="{{ url_for('category', categoryId=category.categoryId, page=1) }}">
                                <div class="single_menu" id="{{ category.categoryId }}">
                                    <img alt="{{ category.name }}" src="./static/images/{{ category.image }}">
                                    <div class="menu_content">
                                        <h4>{{ category.name }} <span></span></h4>
                                        <p>{{ category.description }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- partial -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script>
</body>
</html>
